<div class="app-root">
    <router-outlet></router-outlet>

    <div class="menu">
        <a [routerLink]="['/draw-canvas']"
           [class.activated]="selectedMode === 1"
           (click)="selectedMode = 1"
           class="menu-item">
            Draw Canvas
        </a>

        <a [routerLink]="['/draw-without-canvas']"
           [class.activated]="selectedMode === 2"
           (click)="selectedMode = 2"
           class="menu-item">
            Draw without Canvas
        </a>
    </div>
</div>
