.app-root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
        background-color: #ffffff;
        position: fixed;
        top: 50px;
        left: 50px;
        border-radius: 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.01);
        padding: 0.75rem;
        display: flex;
        align-items: center;

        .menu-item {
            color: #333333;
            text-decoration: none;
            cursor: pointer;
            padding: 0.75rem;
            border-bottom: 2px solid #ffffff;
            transition: border-bottom-color 200ms ease-out, color 200ms ease-out;
        }

        .menu-item:not(:last-child) {
            margin-right: 1rem;
        }

        .menu-item.activated {
            border-bottom-color: dodgerblue !important;
            color: dodgerblue;
        }
    }
}
