.container {
    width: 1000px;
    min-height: 100vh;
    background-color: #ffffff;

    .omi-canvas {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        border: 2px solid red;
        position: relative;

        canvas {
            border: 2px solid dodgerblue;
        }

        .mouse-coordinate {
            position: absolute;
            top: 50px;
            left: 50px;
            min-width: 800px;
            min-height: 200px;
            border: 2px solid #f1f1f1;
            border-radius: 5px;
            display: flex;

            .x-coordinate, .y-coordinate {
                width: max-content;
                padding: 1rem !important;
            }

            .rect-coordinate {
                display: flex;
                padding: 1rem !important;
            }

            p {
                margin-top: 0 !important;
                margin-bottom: 8px !important;
                font-weight: 600 !important;
            }
        }
    }
}

.text-green {
    color: forestgreen !important;
}

.text-blue {
    color: dodgerblue !important;
}

.text-red {
    color: firebrick !important;
}

.text-orange {
    color: orange !important;
}

.mr-1 {
    margin-right: 1rem;
}
